<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<bean id="propertiesReader" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
	<property name="locations">
	   <list>
	    <value>/WEB-INF/config/assistantapi.properties</value>
	   </list>
	  </property>
	</bean>
	<!-- <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="locations">  
            <list>  
                <value>/WEB-INF/config/assistant.properties</value>  
            </list>  
        </property>  
    </bean>
    <bean id="contants" class="com.eling.elcms.assistant.util.Contants">
    <property name="apiUrl">  
            <value>${SocketUrl}</value>  
        </property>  
     </bean> -->
	<bean id="messageAdapter"
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<!-- Support JSON -->
				<bean
					class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter" />
			</list>
		</property>
	</bean> 
</beans>